section {
    margin: 90px 23px 30px 23px;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourOfour {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
  }

.fourOfour p {
    margin: 5px;
}

.fourOfour p:nth-child(3) {
    opacity: 0.75;
}

.fourOfour p:nth-child(4) {
    opacity: 0.5;
}

.fourOfour p:nth-child(5) {
    opacity: 0.25;
}

.homepage {
    background-image: url(/public/img/ocean_vija_celmins.webp);
    object-fit: fill;
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
}

.homepage h1 {
    position: absolute;
    top: 530px;
    left: 20px;
    text-align: left;
}

.homepage p {
    position: relative;
    font-family: Outfit;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin: 0 50px 0 23px;
    top: 590px;
}

div.homepage + section {
    margin-top: 0;
}

.p__underline {
    text-decoration: underline;
}

.infos {
    margin-bottom: 30px;
}

.tarifs {
    padding-left: 0;
    font-family: Outfit;
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0em;
}

.tarifs span:first-child {
    font-weight: 300;
}