.works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px;
    margin: 0;
}

.artists {
    display: flex;
    flex-direction: column;
}

h5 + div{
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h5 {
    text-align: center;
}

